* {
    border: 0;
    margin: 0;
    box-sizing: border-box;
}

.border-header {
    background-color: rgb(255, 255, 255);
}

.border-main {
    background-color: rgb(255, 255, 255);
    margin-top: 40px;
    margin-left: 20%;
    margin-right: 20%;
    padding-bottom: 30px;
    padding-top: 10px;
    border-radius: 10px;
}

.bg-titolo {
    border-bottom: 1px solid rgb(138, 136, 136);
}

body {
    background-color: rgb(235, 235, 235);
}

/* SEZIONE SPAN */
.editorial {
    background-color: aqua;
    border-radius: 5px;
}

.q1 {
    background-color: purple;
}

.recruit {
    background-color: rgb(166, 218, 228);
}

.mobile {
    background-color: orange;
}

.web {
    background-color: greenyellow;
}

.sales {
    background-color: green;
}

/* CLASSI SPAZIATURA */ 
.space-didascalie {
    margin-left: 30px;
    margin-top: 20px;
}

.m-left {
    margin-left: 30px;
}

.m-topbot {
    margin-top: 10px;
    margin-bottom: 10px;
}

.bg-span1 {
    background-color: aquamarine;
    border-radius: 5px;
}

p {
    margin-top: 10px;
}


    






