* {
    border: 0;
    margin: 0;
    box-sizing: border-box;
}

.border-header {
    background-color: rgb(255, 255, 255);
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    box-shadow: 5px 5px 5px rgb(144, 144, 145);
}

.border-main {
    background-color: rgb(255, 255, 255);
    margin-top: 40px;
    margin-left: 20%;
    margin-right: 20%;
    padding-bottom: 30px;
    padding-top: 10px;
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgb(144, 144, 145);
}

.bg-titolo {
    border-bottom: 1px solid rgb(138, 136, 136);
}

body {
    background-color: rgb(235, 235, 235);
}

/* SEZIONE SPAN */
.editorial {
    background-color: rgb(20, 170, 245);
    color: white;
    border-radius: 10px;
    text-align: center;
    padding: 4px 8px;
    font-size: 70%;
    margin-left: 5px;
}

.q1 {
    background-color: rgb(171, 93, 230);
    color: white;
    border-radius: 10px;
    text-align: center;
    padding: 4px 8px;
    font-size: 70%;

}

.recruit {
    background-color: rgb(44, 198, 171);
    color: white;
    border-radius: 10px;
    text-align: center;
    padding: 4px 8px;
    font-size: 70%;
}

.mobile {
    background-color: orange;
    color: white;
    border-radius: 10px;
    text-align: center;
    padding: 4px 8px;
    font-size: 70%;
}

.web {
    background-color: rgb(236, 74, 157);
    color: white;
    border-radius: 10px;
    text-align: center;
    padding: 4px 8px;
    font-size: 70%;
    margin-left: 5px;
}

.sales {
    background-color: rgb(163, 209, 22);
    color: white;
    border-radius: 10px;
    text-align: center;
    padding: 4px 8px;
    font-size: 70%;
    margin-left: 5px;
}

.task {
    background-color: rgb(20, 170, 245);
    border-radius: 5px;
    text-align: center;
    padding: 4px 8px;
}

.section {
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    text-align: center;
    padding: 4px 8px;
    border: 1px solid grey;
}

/* CLASSI SPAZIATURA */ 
.space-didascalie {
    margin-left: 30px;
    margin-top: 20px;
}

.m-left {
    margin-left: 30px;
}

.m-topbot {
    margin-top: 10px;
    margin-bottom: 10px;
}

p {
    margin-top: 10px;
}


    






